<%
    let posts = site.posts;
    posts.data.sort((a, b) => b.date - a.date);
%>
<div id="archives">
    <% if (theme.search.enable) { %>
    <input id="search-bar" class="input" placeholder="Search" v-model="rawSearch" />
    <% } %>
    <div id="timeline-wrap" ref="timeline">
        <% posts.reverse().forEach((post, id) => { %>
        <div class="timeline" data-title="<%- post.title.toLowerCase().replace(/\s+/g, "") %>">
            <div class="timeline-tail"></div>
            <div class="timeline-content">
                <div class="item-time"><%= date(post.date, "YYYY/M/D") %></div>
                <a href="<%- url_for(post.path) %>">
                    <h3><%= post.title %></h3>
                </a>
                <div class="info">
                    <% if (post.categories && post.categories.data.length !== 0) { %>
                    <%
                        const catStyle = getTxCategoryStyle(post.categories.data[0].name);
                    %>
                    <span class="category">
                        <a href="<%- url_for(post.categories.data[0].path) %>"<% if (catStyle) { %> style="color:<%- catStyle.text %>"<% } %>>
                            <span class="icon">
                                <i class="fa-solid fa-bookmark fa-fw"></i>
                            </span>
                            <%= post.categories.data[0].name %>
                        </a>
                    </span>
                    <% } %>
                    <%
                        const arcCatName = post.categories && post.categories.data.length > 0 ? post.categories.data[0].name : null;
                    %>
                    <% if (post.tags && post.tags.data.length !== 0) { %>
                    <span class="tags">
                        <span class="icon">
                            <i class="fa-solid fa-tags fa-fw"></i>
                        </span>
                        <% post.tags.data.forEach((tag) => { %>
                        <%
                            const tagStyle = getTxTagStyle(tag.name, arcCatName);
                        %>
                        <span class="tag">
                            <a href="<%- url_for(tag.path) %>"<% if (tagStyle) { %> style="color:<%- tagStyle.text %>"<% } %>>
                                <%= tag.name %>
                            </a>
                        </span>
                        <% }); %>
                    </span>
                    <% } %>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>
