<footer id="footer">
    <div id="footer-wrap">
        <div>
            &copy;
            <%= theme.footer.since %> - <%= date(Date.now(), "YYYY") %> <%= (theme.footer.copyright && theme.footer.copyright.name) || config.title %>
            <span id="footer-icon">
                <i class="fa-solid fa-font-awesome fa-fw"></i>
            </span>
            &commat;<%= (theme.footer.copyright && theme.footer.copyright.handle) || config.author %>
        </div>
        <div>
            Based on the <a href="https://hexo.io">Hexo</a>
            <a href="https://github.com/thatnghiep-dev/hexo-theme-loststar">LostStar</a> Theme
        </div>
        <% if (theme.footer.ICP.enable) { %>
        <div>
            <% if (theme.footer.ICP.link) { %>
            <a href="<%- url_for(theme.footer.ICP.link) %>"><%= theme.footer.ICP.code %></a>
            <% } else { %>
            <%= theme.footer.ICP.code %>
            <% } %>
        </div>
        <% } %>
    </div>
</footer>
